In [17]:
import pandas as pd

In [18]:
data = pd.read_csv('studentsdata.csv')

In [19]:
data.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [20]:
x=data['Hours'].values.reshape(-1, 1)
y=data['Scores'].values.reshape(-1, 1)

In [21]:
def update_w_and_b(x, y, w, b, alpha):
    dl_dw = 0.0
    dl_db = 0.0
    N = len(x)

    for i in range(N):
        dl_dw += -2*x[i]*(y[i] - (w*x[i] + b))
        dl_db += -2*(y[i] - (w*x[i] + b))

# update w and b
    w = w - (1/float(N))*dl_dw*alpha
    b = b - (1/float(N))*dl_db*alpha

    return w, b

In [22]:
def avg_loss(x, y, w, b):
    N = len(x)
    total_error = 0.0
    
    for i in range(N):
        total_error += (y[i] - (w*x[i] + b))**2
    
    return total_error / float(N)

In [23]:
def train(x, y, w, b, alpha, epochs):
    for e in range(epochs):
        w, b = update_w_and_b(x, y, w, b, alpha)

# log the progress
        if e % 400 == 0:
            print("epoch:", e, "loss: ", avg_loss(x, y, w, b))
        
    return w, b

In [24]:
def predict(x, w, b):
    
    return w*x + b

In [25]:
#adjust weights and bias on 1500 epoch

w, b = train(x, y, 0.0, 0.0, 0.001, 1500)

epoch: 0 loss:  [2862.60169041]
epoch: 400 loss:  [28.99512117]
epoch: 800 loss:  [28.96552398]
epoch: 1200 loss:  [28.94372098]

In [28]:
#predict score if study hours is 9 hours
x_new = 9.0

y_new = predict(x_new, w, b)

print(y_new)

[90.69121927]